use [consentmanagementDB]
go
--#1
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_user_detail' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_user_detail;  
go 
--#1
-- select * from dbo.udf_cnms_get_user_detail('backofficeservice@asiaplus.co.th')
create function dbo.udf_cnms_get_user_detail (@pusername varchar(100))
returns @rt table(	
				 id uniqueidentifier ,
					user_no int,
					user_name varchar(50),
					user_role varchar(10),
					user_create datetime ,
					user_last_login datetime ,
					user_status varchar(10) 
				)
as 
begin
	insert into @rt(user_name)
	select user_name
	from UserPermissionControl
	where user_name = @pusername
	return
end
go

--#1-1
if exists (select * from sys.objects a where a.name = 'udf_cnms_web_get_user_access_permission' and a.type = 'tf')  
    drop function dbo.udf_cnms_web_get_user_access_permission;  
go 
--#1-1
-- select * from dbo.udf_cnms_web_get_user_access_permission('backofficeservice@asiaplus.co.th','UsersManagement')
create function dbo.udf_cnms_web_get_user_access_permission (@puser_name varchar(100),@pfunction_name varchar(100)=null)
returns @rt table(					 
					can_access char(1)
				)
as 
begin
	if exists
		(
			select * from  [dbo].[UserPermissionControl] b
			where b.user_name = @puser_name and b.function_name=@pfunction_name
		)
		insert into @rt(can_access)
		select 'Y'
	else
		insert into @rt(can_access)
		select 'N'
	return
end
go



if exists (select * from sys.objects a where a.name = 'udf_cnms_get_consent_form_list' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_consent_form_list;  
go
-- select * from dbo.udf_cnms_get_consent_form_list()
create function dbo.udf_cnms_get_consent_form_list ()
returns @rt table(	
					consent_form_id UNIQUEIDENTIFIER,
					consent_form_name  varchar(50),
					consent_title varchar(255),
					consent_form_header varchar(max),
					consent_form_footer varchar(max),
					consent_form_version decimal(6,2) ,
					create_date datetime   ,
					use_status char(1) ,
					remark varchar(255)
				 )
as 
begin
	
	insert into @rt(consent_form_id,consent_form_name,consent_title,consent_form_header,consent_form_footer,consent_form_version,create_date,use_status,remark)
	select consent_form_id,consent_form_name,consent_title,consent_form_header,consent_form_footer,consent_form_version,create_date,use_status,remark
	from ConsentForm
	
	return
end
go


--#2-1
-- get consent detail list
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_consent_form' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_consent_form;  
go
--#2-1
-- select * from dbo.udf_cnms_get_consent_form('6C074227-BE2C-4592-8775-26932ACA5DDE')
create function dbo.udf_cnms_get_consent_form (@pconsent_form_id varchar(50))
returns @rt table(	
					consent_form_id UNIQUEIDENTIFIER,
					consent_form_name  varchar(50),
					consent_title varchar(255),
					consent_form_header varchar(max),
					consent_form_footer varchar(max),
					consent_form_version decimal(6,2) ,
					create_date datetime   ,
					use_status char(1) ,
					remark varchar(255)
				 )
as 
begin
	
	insert into @rt(consent_form_id,consent_form_name,consent_title,consent_form_header,consent_form_footer,consent_form_version,create_date,use_status,remark)
	select consent_form_id,consent_form_name,consent_title,consent_form_header,consent_form_footer,consent_form_version,create_date,use_status,remark
	from ConsentForm
	where consent_form_id=@pconsent_form_id
	return
end
go

--#2
-- get consent detail list
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_consent_list' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_consent_list;  
go
--#2
-- select * from dbo.udf_cnms_get_consent_list('0A2C7935-26F8-49AE-B5AF-8D5E68FA7580')
create function dbo.udf_cnms_get_consent_list (@pconsent_id varchar(50))
returns @rt table(	
					consent_id char(36),
					consent_form_id char(36),
					title_name  varchar(150),
					consent_order int,
					content_html varchar(max),
					content_text varchar(max),
					remark varchar(max),
					create_date datetime  
				 )
as 
begin
	
	declare @vconsent_form_id char(36)
	select @vconsent_form_id = consent_form_id from ConsentDetail where consent_id = @pconsent_id

	insert into @rt(consent_id,consent_form_id,title_name,consent_order,content_html,content_text ,remark,create_date)
	select consent_id,consent_form_id,title_name,consent_order,content_html,content_text,remark,create_date
	from ConsentDetail
	where consent_form_id=@vconsent_form_id
	order by consent_order
	return
end
go



if exists (select * from sys.objects a where a.name = 'udf_cnms_get_consent_list_by_form' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_consent_list_by_form;  
go

-- select * from dbo.udf_cnms_get_consent_list_by_form('D51E28B3-F691-4BE3-8B2D-6E78B11405B9')
create function dbo.udf_cnms_get_consent_list_by_form (@pconsent_form_id varchar(50))
returns @rt table(	
					consent_id char(36),
					consent_form_id char(36),
					title_name  varchar(150),
					consent_order int,
					content_html varchar(max),
					content_text varchar(max),
					remark varchar(max),
					create_date datetime  
				 )
as 
begin

	insert into @rt(consent_id,consent_form_id,title_name,consent_order,content_html,content_text ,remark,create_date)
	select consent_id,consent_form_id,title_name,consent_order,content_html,content_text,remark,create_date
	from ConsentDetail
	where consent_form_id=@pconsent_form_id
	order by consent_order
	return
end
go
--#3-1
-- get valid consent form
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_valid_system' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_valid_system;  
go
--#3-2
-- select * from dbo.udf_cnms_get_valid_system('SystemTest','172.20.33.72')
create function dbo.udf_cnms_get_valid_system (@psystem_name varchar(50),@psystem_ip_address varchar(50))
returns @rt table(	
					consent_form_id char(36),
					remark  varchar(150)  
				 )
as 
begin
		insert into @rt(consent_form_id,remark)
		select top 1 a.consent_form_id,'' from ConsentForm a
		inner join ConsentSystemAllow b on a.consent_form_id = b.consent_form_id 
		where  b.system_name = @psystem_name and system_ip_address=@psystem_ip_address

	--else
	--begin
	--	insert into @rt(consent_form_id,remark)
	--	select  '','Invalid consent form or system not allow.'
	--end
	
	return
end
go

--#3-2
-- get valid consent form
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_valid_consent_form' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_valid_consent_form;  
go
--#3-2
-- select * from dbo.udf_cnms_get_valid_consent_form('SystemTest','172.20.33.72')
create function dbo.udf_cnms_get_valid_consent_form (@pconsent_form_id varchar(50))
returns @rt table(	
					consent_form_id char(36),
					remark  varchar(150)  
				 )
as 
begin
		insert into @rt(consent_form_id,remark)
		select consent_form_id,'' from ConsentForm 
		where  consent_form_id= @pconsent_form_id

	--else
	--begin
	--	insert into @rt(consent_form_id,remark)
	--	select  '','Invalid consent form or system not allow.'
	--end
	
	return
end
go

--#4
-- get get_valid_customer_accepted_consent
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_valid_customer_accepted_consent' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_valid_customer_accepted_consent;  
go
--#4
-- select * from dbo.udf_cnms_get_valid_customer_accepted_consent('D0472')
create function dbo.udf_cnms_get_valid_customer_accepted_consent (@paccount_no varchar(7))
returns @rt table(	
					consent_form_id char(36),
					account_no char(5),
					ref_no varchar(30),
					remark  varchar(150)  
				 )
as 
begin
	declare @vrefno varchar(20)

	select @vrefno=ReferenceID from CustomerData where AccountNo = @paccount_no

	insert into @rt(consent_form_id,account_no,ref_no,remark)

	select consent_form_id,b.AccountNo,ref_no ,'' 
	from CustomerAcceptedConsentForm a
		inner join CustomerData b on a.ref_no = b.ReferenceID
	where ref_no = @vrefno
	return
end
go

--#5
-- get udf_cnms_get_customer_accepted_detail
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_customer_accepted_detail' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_customer_accepted_detail;  
go
--#5
-- select * from dbo.udf_cnms_get_customer_accepted_detail('44462')
create function dbo.udf_cnms_get_customer_accepted_detail (@paccount_no varchar(7))
returns @rt table(	
					account_no varchar(10) not null,
					consent_id  UNIQUEIDENTIFIER not null,
					is_accepted char(1) not null,
					create_datetime datetime not null
				 )
as 
begin
	declare @vconsent_form_id char(36)
	declare @vref_no varchar(30)
	declare @vproduct_name varchar(30)
	declare @vtransaction_account char(5)
	select @vtransaction_account=a.account_no, @vconsent_form_id=a.consent_form_id, @vref_no = b.ReferenceID, @vproduct_name =product_name 
	from CustomerAcceptedConsentForm a
		inner join CustomerData b on a.ref_no = b.ReferenceID
	where b.AccountNo=@paccount_no

	--select @vconsent_form_id = consent_form_id from [dbo].[CustomerAcceptedConsentForm] where account_no=@paccount_no


	insert into @rt(account_no,consent_id,is_accepted,create_datetime)
	select account_no,a.consent_id,is_accepted,create_datetime
	from CustomerAcceptedConsentDetail a 
		inner join ConsentDetail b on a.consent_id = b.consent_id 
	where b.consent_form_id = @vconsent_form_id and account_no=@vtransaction_account
	return
end
    
go

--#6
-- get udf_cnms_get_customer_consent_form
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_customer_consent_form' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_customer_consent_form;  
go
--#6
-- select * from dbo.udf_cnms_get_customer_consent_form('A3333')
create function dbo.udf_cnms_get_customer_consent_form (@paccount_no varchar(7))
returns @rt table(	
					id UNIQUEIDENTIFIER,
					account_no varchar(10) not null ,
					product_name varchar(30) not null ,
					consent_form_id  UNIQUEIDENTIFIER not null,
					consent_date datetime not null,
					is_use varchar(1) not null,
					system_name varchar(150),
					system_ip_address varchar(50),
					mac_address varchar(50),
					consent_form_name  varchar(50),
					consent_title varchar(255),
					consent_form_header varchar(max),
					consent_form_footer varchar(max)
				 )
as 
begin
	declare @vref_no varchar(30)
	declare @vproduct_name varchar(30)
	select  @vref_no = b.ReferenceID, @vproduct_name =product_name 
	from CustomerAcceptedConsentForm a
		inner join CustomerData b on a.ref_no = b.ReferenceID
	where b.AccountNo=@paccount_no

	insert into @rt(id,account_no,consent_form_id,consent_date,is_use,system_name,system_ip_address,mac_address,consent_form_name,consent_title,consent_form_header,consent_form_footer,product_name)
	select id,account_no,a.consent_form_id,consent_date,is_use,system_name,system_ip_address,mac_address,isnull(b.consent_form_name,''),isnull(b.consent_title,''),isnull(b.consent_form_header,''),isnull(b.consent_form_footer,''),product_name
	from CustomerAcceptedConsentForm a
		left join ConsentForm b on a.consent_form_id = b.consent_form_id
	where ref_no = @vref_no and product_name = @vproduct_name
	return
end

--select *
--from CustomerAcceptedConsentDetail a 
--	inner join ConsentDetail b on a.consent_id = b.consent_id
    
go

--#7
-- get udf_cnms_get_customer_consent_form
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_valid_consent_id' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_valid_consent_id;  
go
--#7
-- select * from dbo.udf_cnms_get_valid_consent_id('B27AB9EA-56DC-4369-B3F9-F3D1CCFC49E6','6F24745C-40EC-4AC7-A933-9D6B4F589FFF')
create function dbo.udf_cnms_get_valid_consent_id (@pconsent_form_id UNIQUEIDENTIFIER, @pconsent_id UNIQUEIDENTIFIER) 
returns @rt table(	
					id UNIQUEIDENTIFIER
				 )
as 
begin
	insert into @rt(id)
	select consent_id
	from ConsentDetail 
	where consent_form_id = @pconsent_form_id and consent_id = @pconsent_id
	return
end

--select *
--from CustomerAcceptedConsentDetail a 
--	inner join ConsentDetail b on a.consent_id = b.consent_id
    
go

--#8
-- get udf_cnms_get_customer_consent_form
if exists (select * from sys.objects a where a.name = 'udf_cnms_get_valid_system_name' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_valid_system_name;  
go
--#8
--select * from dbo.udf_cnms_get_valid_system_name('SystemTest')
create function dbo.udf_cnms_get_valid_system_name (@psystem_name varchar(50)) 
returns @rt table(	
					system_name varchar(50)
				 )
as 
begin
	insert into @rt(system_name)
	select system_name
	from ConsentSystemAllow 
	where system_name = @psystem_name and use_status='Y'
	return
end

--select *
--from CustomerAcceptedConsentDetail a 
--	inner join ConsentDetail b on a.consent_id = b.consent_id
    
go
