use [consentmanagementDB]
go

--#2-1
-- get consent detail list
if exists (select * from sys.objects a where a.name = 'udf_cnms_web_get_dash_board_1' and a.type = 'tf')  
    drop function dbo.udf_cnms_web_get_dash_board_1;  
go

-- select * from dbo.udf_cnms_web_get_dash_board_1()
create function dbo.udf_cnms_web_get_dash_board_1 ()
returns @rt table(	
					total decimal(18,0),
					full_accepted  decimal(18,0),
					partial_accepted decimal(18,0),
					not_accepted decimal(18,0)
				 )
as 
begin
	
	declare @tmp_tb table(
		account_no  varchar(7),
		Accepted int,
		MaxAccepted int,
		transaction_date datetime
	)
	declare @vtotal decimal(18,0),
			@vfull_accepted  decimal(18,0),
			@vpartial_accepted decimal(18,0),
			@vnot_accepted decimal(18,0)



	insert into @tmp_tb
	select a.account_no, sum(case b.is_accepted when 'Y' then 1 else 0 end),count(b.is_accepted),convert(varchar,create_datetime,112) 
	from CustomerAcceptedConsentForm a
		inner join CustomerAcceptedConsentDetail b on a.account_no = b.account_no
	group by a.account_no,convert(varchar,create_datetime,112)
	--order by a.account_no

	select @vtotal = count(*) from @tmp_tb
	select @vfull_accepted = count(*) from @tmp_tb where Accepted=MaxAccepted
	select @vpartial_accepted = count(*) from @tmp_tb where Accepted!=MaxAccepted and Accepted>0
	select @vnot_accepted = count(*) from @tmp_tb where Accepted=0

	insert into @rt (total,full_accepted,partial_accepted,not_accepted)
	select @vtotal,@vfull_accepted,@vpartial_accepted,@vnot_accepted

	return
end
go

--#2-1
-- get consent detail list
if exists (select * from sys.objects a where a.name = 'udf_cnms_web_get_customer_consent_list' and a.type = 'tf')  
    drop function dbo.udf_cnms_web_get_customer_consent_list;  
go
--#2-1
-- select * from dbo.udf_cnms_web_get_customer_consent_list('20200515','20200520')
create function dbo.udf_cnms_web_get_customer_consent_list (
	@pstart_date varchar(8)=null,
	@pend_date varchar(8)=null
)
returns @rt table(	
					transaction_date datetime,
					product_name varchar(30),
					ref_no varchar(30),
					account_no  varchar(7),
					customer_name varchar(255),
					consent_form_name varchar(255),
					status varchar(20)
				 )
as 
begin
	
	declare @tmp_tb table(
		account_no  varchar(7),
		product_name varchar(30),
		Accepted int,
		MaxAccepted int,
		transaction_date datetime
	)
	declare @vtrans_start_date varchar(8) = @pstart_date, @vtrans_end_date varchar(8)=@pend_date

	


	if @pend_date = null or @pend_date = ''
		set @vtrans_end_date = convert(varchar,getdate(),112)

	if @pstart_date = null or @pstart_date = ''
		set @vtrans_start_date = convert(varchar,DATEADD(DAY, -30, GETDATE()),112)


	insert into @tmp_tb
	select a.account_no,product_name, sum(case b.is_accepted when 'Y' then 1 else 0 end),count(b.is_accepted),convert(varchar,create_datetime,112) 
	from CustomerAcceptedConsentForm a
		inner join CustomerAcceptedConsentDetail b on a.account_no = b.account_no
	where convert(varchar,a.consent_date,112) between @vtrans_start_date and  @vtrans_end_date
	group by a.account_no,product_name,convert(varchar,create_datetime,112)
	--order by a.account_no


	insert into @rt (account_no,product_name,ref_no,status,customer_name,transaction_date,consent_form_name)
	select a.account_no,a.product_name,ReferenceID,case when Accepted = MaxAccepted then 'Full Accepted' when Accepted=0 then 'Not Accepted'else 'Partial Accepted' end
			,b.NameTh,c.consent_date,d.consent_form_name
 	from @tmp_tb a
		left join CustomerData b on a.account_no = b.AccountNo
		inner join CustomerAcceptedConsentForm c on c.account_no = a.account_no
		left join ConsentForm d on d.consent_form_id = c.consent_form_id 
	return
end
go

--#2-2
-- get consent detail list
if exists (select * from sys.objects a where a.name = 'udf_cnms_web_search_customer_consent_list' and a.type = 'tf')  
    drop function dbo.udf_cnms_web_search_customer_consent_list;  
go
--#2-2
-- select * from dbo.udf_cnms_web_search_customer_consent_list('','','','','')
create function dbo.udf_cnms_web_search_customer_consent_list (
	@paccount_no varchar(5)=null,
	@pconsent_form_name varchar(36)=null,
	@pproduct_name varchar(20)=null,
	@pstart_date varchar(8)=null,
	@pend_date varchar(8)=null
)
returns @rt table(	
					transaction_date datetime,
					product_name varchar(30),
					ref_no varchar(30),
					account_no  varchar(7),
					customer_name varchar(255),
					consent_form_name varchar(255),
					status varchar(20)
				 )
as 
begin
	
	insert into @rt
	select * 
	from dbo.udf_cnms_web_get_customer_consent_list(@pstart_date,@pend_date)

	if( @paccount_no != null or @paccount_no != '')
	begin
		delete  from @rt where account_no != @paccount_no
	end

	if( @pconsent_form_name != null or @pconsent_form_name != '')
	begin
		delete  from @rt where consent_form_name != @pconsent_form_name
	end

	if( @pproduct_name != null or @pproduct_name != '')
	begin
		delete  from @rt where product_name != @pproduct_name
	end

	return
end
go


if exists (select * from sys.objects a where a.name = 'udf_cnms_get_web_consent_form_list' and a.type = 'tf')  
    drop function dbo.udf_cnms_get_web_consent_form_list;  
go

-- select * from dbo.udf_cnms_get_web_consent_form_list()
create function dbo.udf_cnms_get_web_consent_form_list ()
returns @rt table(	
					consent_form_id UNIQUEIDENTIFIER,
					consent_form_name  varchar(50),
					consent_title varchar(255),
					consent_form_header varchar(max),
					consent_form_footer varchar(max),
					consent_form_version decimal(6,2) ,
					create_date datetime   ,
					use_status char(1) ,
					remark varchar(255)
				 )
as 
begin
	
	insert into @rt(consent_form_id,consent_form_name,consent_title,consent_form_header,consent_form_footer,consent_form_version,create_date,use_status,remark)
	select consent_form_id,consent_form_name,consent_title,consent_form_header,consent_form_footer,consent_form_version,create_date,use_status,remark
	from ConsentForm
	return
end
go



if exists (select * from sys.objects a where a.name = 'udf_cnms_web_get_consent_percent' and a.type = 'tf')  
    drop function dbo.udf_cnms_web_get_consent_percent;  
go

-- select * from dbo.udf_cnms_web_get_consent_percent('5D3E3EC1-9F06-4E33-81B1-B3485C44335D')
create function dbo.udf_cnms_web_get_consent_percent (@pconsent_id varchar(50))
returns @rt table(	
					total decimal(18,0),
					accepted  decimal(18,0),
					notaccepted  decimal(18,0),
					ppercent decimal(18,2)
					)
as 
begin
	declare @vtotal decimal(18,0),
			@vaccepted  decimal(18,0),
			@vppercent  decimal(18,2)
	

	--  select * from [dbo].[CustomerAcceptedConsentDetail] where consent_id = '5D3E3EC1-9F06-4E33-81B1-B3485C44335D'
	select @vtotal= count(*) from [dbo].[CustomerAcceptedConsentDetail] where consent_id = @pconsent_id
	if(@vtotal!=0)
	begin
		select @vaccepted= count(*) from [dbo].[CustomerAcceptedConsentDetail] where consent_id = @pconsent_id and is_accepted='Y' 
		select @vppercent=(@vaccepted*100)/@vtotal
		insert into @rt(total,accepted,notaccepted,ppercent)
		select @vtotal,@vaccepted,@vtotal-@vaccepted, @vppercent
	end
	else
	begin
		insert into @rt(total,accepted,notaccepted,ppercent)
		select 0,0,0,0
	end
	

	return
end
go







--select * from Backoffice.dbo.SBAS_SECMAS
--order by CreateDate desc
----D9661
----D7475
----D7352
----73617
--select *
--from CustomerAcceptedConsentDetail


--update CustomerAcceptedConsentDetail set account_no = '73617' where account_no = 'X0050'
--update CustomerAcceptedConsentForm set account_no = '73617' where account_no = 'X0050'

