BODY  { font-family: Tahoma, Arial, Helvetica, sans-serif; }
DIV   { width: 99%%; }
.nav   { background-color: #ffffff; font-size: 1.0em; font-family: Tahoma, Arial, Helvetica, sans-serif; margin-bottom: 5px; }
.header    { font-size: 14px; font-weight: bold; color: #6b6b6b; margin: 0px; background-color: #d3d7da; vertical-align: middle; text-align: center;  padding: 0px 2px 0px 3px; }
.traffic   { background-color: #edf1f5; font-size: 0.8em; font-family: Tahoma, Arial, Helvetica, sans-serif; padding: 5px 0px 5px 5px; margin-bottom: 5px; }
.highlight { background-color: yellow; }
