
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        <div class="container" style="width:500px;height:300px;margin-top:200px">
            <div class="panel panel-default">
                <div class="panel panel-heading text-center">
                    Authorize Fail Message
                </div>
                <div class="panel panel-body">
                    <div style="text-align:center">@ViewBag.ErrorMsg</div>
                    <div style="text-align:center"><input type="button" style="margin-top:7px"  value="กลับไปหน้า Mainmenu" onclick="window.location.href = '@Url.Action("Index", "Form")' " /></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
