

@{
    if (ViewBag.ConsentSaveResultPartial != null)
    {
        <hr id="ConsentSaveResultPartial2HR"/>
        <div class="row" style="padding-top:10px" id="ConsentSaveResultPartial2">
            <div class="col-2" style="text-align:right">
                <h5></h5>
            </div>
            <div class="col-4" style="text-align:right">

                @*public bool isSuccess { get; set; }
            public int statusCode { get; set; }// แล้วแต่จะตกลงกัน
            public string remark { get; set; }*@
                @if (ViewBag.ConsentSaveResultPartial.remark == "")
                {
                    @*<span style="color:springgreen;font:bold">บันทึกข้อมูลเรียบร้อย</span>*@
                    <div class="text-md font-weight-bold text-success text-uppercase mb-1">บันทึกข้อมูลสำเร็จ </div>
                }
                else
                {
                    @*<span style="color:red;font:bold">บันทึกข้อมูลไม่สำเร็จ @ViewBag.ConsentSaveResultPartial.remark</span>*@
                    <div class="text-md font-weight-bold text-danger text-uppercase mb-1"> @ViewBag.ConsentSaveResultPartial.remark</div>
                }
            </div>
        </div>

    }
}

